<div class="col-container survey">
  <h1
    class="{{
      currentScreenSize === 'XSmall' ? 'mat-headline-4' : 'mat-headline-1'
    }}"
  >
    {{ language + " survey" | uppercase }}
  </h1>
  <img
    src="/assets/images/undraw_static_assets_rpm6.svg"
    alt="Html, Css and JavaScript icons"
    width="{{ currentScreenSize === 'XSmall' ? '200' : '500' }}"
  />
  <app-timer
    [totalTime]="surveyTime"
    [timerState]="timerState"
    (timeOut)="stopSurvey()"
  ></app-timer>
  <div *ngIf="survey$ | async as survey">
    <mat-stepper orientation="vertical" linear="true" #stepper>
      <mat-step
        *ngFor="let question of survey.questions; let i = index"
        label="Question {{ i + 1 }}"
        state="{{ i + 1 }}"
      >
        <app-question
          [question]="question"
          (answerSelect)="addResponse($event, i); stepper.next()"
        ></app-question>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div class="button-row">
          <button mat-flat-button color="primary" (click)="getResults()">
            Get Results
          </button>
          <button mat-flat-button color="warn" (click)="stepper.reset()">
            Reset
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
