@use '@angular/material'as mat;

header {
  padding: 40px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 10px;

  h1 {
    text-transform: capitalize;
  }
}

mat-grid-tile {
  background: lightblue;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    background: #ffd740;
  }
}

.back-image {
  background: url("/assets/images/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-container {
  width: calc(100vw - 20px);
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(65, 88, 208, .3);
  background-image: linear-gradient(43deg, rgba(65, 88, 208, .3) 0%, rgba(200, 80, 192, .3) 46%, rgba(255, 204, 112, .3) 100%);
}

section {
  margin: 40px 0;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .section-container {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      margin-right: 40px;
    }
  }
}