@use '@angular/material'as mat;

header {
  background: #eee;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

section {
  margin: 20px;
}

mat-grid-tile {
  background: lightblue;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    background: #ffd740;
  }
}