.answer-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.question-card {
  width: 50vw;
  min-width: 300px;
  max-width: 800px;
  margin-bottom: 8px;
}