<mat-card class="question-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ question.title }}</mat-card-title>
      <mat-card-subtitle>
        <p>{{ question.body }}</p>
        <i>Level: {{ question.level }} </i>
      </mat-card-subtitle>
      <!-- TODO: Add images to each question -->
      <!-- <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" > -->
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-radio-group class="answer-radio-group" [(ngModel)]="isCorrectAnswer">
      <mat-radio-button
        *ngFor="let answer of question.answers"
        [value]="answer.isCorrect"
        (change)="sendResponse()"
      >
        {{ answer.body }}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>
