@import '../../../../variables';

footer {
  padding: 20px;
  position: static;
  bottom: 0;
  width: calc(100% - 40px);
  height: 100px;
  background: $primary-color;
  color: aliceblue;
}

section {
  margin-bottom: 20px;
}